{
  "bracketSpacing": true,
  "printWidth": 100,
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": [".html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
