@media screen and (min-width: 500px){
  #main {
    border-radius: 220px 0;
  }

  .info__container {
    margin: 0 176px 0 32px;
  }

  .info__photo {
    margin: 100px 0 100px 64px;
  }

}

@media screen and (max-width: 500px){


  .photo {
    width: 348px;
  }

  .vector__main--m {
    display: none;
  }

  .vector__main--s {
    display: none;
  }

  .info__container {

  }
}