@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #303030;
    background-color: #f8f3ff;
    font-family: Montserrat, sans-serif;
}

h1 {
    font-weight: 800;
    line-height: 72px;
    font-size: 56px;
}

h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 72px;
}

h3 {
    font-weight: 800;
    font-size: 27px;
    line-height: 36px;
}

.vector {
    position: absolute;
}

// HEADER ----------------

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;

    a {
        color: #8e43ed;
        text-decoration: none;
        padding: 0 32px;
    }

    &__vectors {
        margin-left: 64px;
    }

    &__links {
        margin-right: 144px;
    }
}

@media screen and (max-width: 850px) {
    .header {
        justify-content: center;

        &__links {
            display: none;
        }

        &__vectors {
            margin: auto;
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        padding: 17px 0;
    }
}

// MAIN ----------------

.main {
    display: flex;
    align-items: center;
    background-color: #fff;

    &__photo {
        position: relative;
        margin: 24px auto;
    }

    &__info {
        margin: 16px 14px;

        h1,
        h3 {
            margin-bottom: 24px;
        }
    }

    &__description {
        margin-bottom: 64px;

        p {
            display: inline-block;
            margin-right: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
        }

        span {
            color: #aa7ecd;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
        }
    }

    &__about {
        p {
            color: #000;
            font-weight: normal;
            font-size: 18px;
            line-height: 178%;
        }
    }

    &__vector-small {
        left: -47px;
        bottom: 120px;
        width: 69px;
        height: 69px;
        background: #8e43ed;
        border-radius: 16px;
        transform: rotate(-111.94deg);
    }

    &__vector-medium {
        left: -40px;
        bottom: -25px;
        width: 120px;
        height: 120px;
        background: #f18bc3;
        border-radius: 24px;
        transform: rotate(128.05deg);
    }

    &__vector-small-mobile {
        right: 3px;
        bottom: 57px;
        width: 32px;
        height: 32px;
        background: #8e43ed;
        border-radius: 10px;
        transform: matrix(0.37, -0.93, -0.93, -0.37, 0, 0);
    }

    &__vector-medium-mobile {
        right: 7px;
        bottom: -10px;
        width: 56px;
        height: 56px;
        background: #f18bc3;
        border-radius: 16px;
        transform: matrix(0.62, 0.79, 0.79, -0.62, 0, 0);
    }

    .photo-img {
        border-radius: 32px;
    }

    @media screen and (max-width: 1100px) {
        flex-direction: column;
        align-items: baseline;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
    }

    h2 {
        font-size: 32px;
        line-height: 41px;
    }

    h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .main {
        .photo-img {
            width: 348px;
        }

        &__vector-medium,
        &__vector-small {
            display: none;
        }

        &__description {
            margin-bottom: 32px;

            p {
                display: flex;
                flex-direction: column;
                margin-right: 39px;
            }

            p,
            span {
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__details {
            display: flex;
        }

        &__info {
            margin: 0 14px;
        }

        &__about {
            p {
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .main {
        border-radius: 220px 0;

        &__info {
            margin: 0 176px 0 32px;
        }

        &__photo {
            margin: 100px 0 100px 64px;
        }

        &__vector-small-mobile,
        &__vector-medium-mobile {
            display: none;
        }
    }
}

// FORM ----------------

.form {
    position: relative;
    overflow: hidden;
    padding-top: 56px;

    &__header {
        margin: 0 20px;
    }

    &__main {
        margin: 0 64px;
    }

    &__fields {
        display: flex;
        flex-direction: column;
    }

    &__input {
        background: #fff;
        border: 1px solid #d9bbff;
        border-radius: 12px;
        font-size: 16px;
        padding: 16px;
        width: 301px;
        outline: none;

        &:focus {
            border-color: #8e43ed;
            box-shadow: 0 0 1px #8e43ed;
        }

        &_error {
            background-color: #fff5f5;
            border: 1px solid #ed4376;
        }
    }

    &__input-label {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        display: inline-block;
        margin: 20px 32px 20px 0;
        position: relative;
    }

    &__error-message {
        position: absolute;
        color: #ed4376;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        left: 8px;
        bottom: -20px;
    }

    &__dropzone {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
        padding: 0 8px;
        background: #fff;
        border: 1px dashed #d9bbff;
        border-radius: 12px;
        box-sizing: border-box;
        max-width: 976px;

        span {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #9993bd;
            margin: 0 8px;
        }
    }

    &__section-two,
    &__section-three {
        visibility: hidden;
        opacity: 0;
        transition: opacity cubic-bezier(0.4, 0, 1, 1) 250ms;

        &_show {
            visibility: visible;
            opacity: 1;
        }
    }

    &__files {
        display: flex;
        margin-top: 8px;
    }

    &__button-container {
        display: flex;
        flex-wrap: wrap;
    }

    &__sending-status {
        align-items: center;
        display: flex;
        margin: 24px;
        visibility: hidden;

        &_show {
            visibility: visible;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin: auto 8px;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            color: #3dd73a;
            border-radius: 50%;
            background-color: #e1fee8;
        }
    }

    &__vector {
        border-radius: 32px;
        z-index: -1;

        &-medium {
            top: 86px;
            left: -30px;
            width: 168px;
            height: 168px;
            background: #f2e9ff;
            transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
        }

        &-small {
            top: 191px;
            left: 193px;
            height: 116px;
            width: 116px;
            background: #f2e9ff;
            border-radius: 16px;
            transform: matrix(-0.67, 0.74, 0.74, 0.67, 0, 0);
        }

        &-big {
            top: 366px;
            left: -50px;
            width: 293px;
            height: 293px;
            background: #f2e9ff;
            transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
        }

        &-medium-colored {
            top: 68px;
            right: -30px;
            width: 168px;
            height: 168px;
            background: #8e43ed;
            transform: rotate(15deg);
        }

        &-small-colored {
            top: 176px;
            right: 195px;
            width: 116px;
            height: 116px;
            background: #e0cff8;
            border-radius: 16px;
            transform: rotate(47.56deg);
        }

        &-big-colored {
            top: 346px;
            right: -50px;
            width: 293px;
            height: 293px;
            background: #f18bc3;
            transform: rotate(30deg);
        }

        &-medium-mobile {
            top: 56px;
            right: 22px;
            width: 56px;
            height: 56px;
            background: #f18bc3;
            border-radius: 16px;
            display: none;
            transform: matrix(-0.14, -0.99, -0.99, 0.14, 0, 0);
        }

        &-small-mobile {
            top: 106px;
            right: 80px;
            height: 32px;
            width: 32px;
            background: #8e43ed;
            border-radius: 10px;
            display: none;
            transform: matrix(-0.79, 0.62, 0.62, 0.79, 0, 0);
        }
    }
}

.file-preview {
    display: flex;
    justify-content: space-between;
    width: 256px;
    background: #fff;
    border: 1px solid #d9bbff;
    border-radius: 12px;
    padding-right: 17px;
    visibility: hidden;

    &__container {
        display: flex;
        align-items: center;
    }

    &__thumbnail {
        object-fit: cover;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 8px 8px 8px 12px;
    }

    &__name {
        font-size: 14px;
        line-height: 18px;
    }

    &__details {
        font-size: 12px;
        line-height: 18px;
        color: #afafaf;
    }

    &_show {
        visibility: visible;
    }
}

.file-input {
    display: none;
}

.button {
    background-color: #8e43ed;
    border: 1px solid #8e43ed;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    width: 211px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    &:active {
        background-color: #500aa9;
        border-color: #500aa9;
    }

    &:hover {
        background-color: #6813d3;
        border-color: #6813d3;
    }

    &:disabled {
        background-color: #ded9e4;
        border-color: #ded9e4;
        cursor: auto;
    }

    &_secondary {
        color: #8e43ed;
        background-color: #fff;

        &:active {
            background-color: #f0e5fe;
        }

        &:hover {
            background-color: #faf8fe;
            border-color: #6813d3;
        }

        &:disabled {
            background-color: #fff;
            border-color: #d9bbff;
            color: #d9bbff;
            cursor: auto;
        }
    }

    &_send {
        margin: 48px 0;
    }

    &_add {
        margin: 24px 8px;
    }
}

@media screen and (max-width: 1000px) {
    .form {
        &__main {
            label:nth-child(even) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .form {
        &__main {
            margin: 0 32px;

            label:nth-child(even) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .form {
        &__vector {
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .form {
        &__header {
            margin-bottom: 20px;
            width: 70%;
        }

        &__main {
            margin: 0 14px;
        }

        &__section-one,
        &__section-two {
            display: flex;
            flex-direction: column;
        }

        &__input {
            width: 100%;
        }

        &__input-label {
            margin: 20px 0;
        }

        &__dropzone {
            flex-direction: column;
            text-align: center;

            span {
                width: 211px;
                margin-top: 27px;
            }
        }

        &__sending-status {
            justify-content: center;
            margin-top: 0;
            width: 100%;
        }

        &__vector-small-mobile,
        &__vector-medium-mobile {
            display: revert;
        }
    }

    .file-preview {
        width: 100%;
    }

    .button {
        &_send {
            width: 100%;
            margin: 40px auto;
        }
    }
}

// SLIDER ----------------

.slider {
    background-color: #fff;
    padding: 56px 0;

    &__wrapper {
        border-radius: 32px;
        position: relative;
        margin: auto;
        max-width: 90%;
        overflow: hidden;
    }

    &__line {
        display: flex;
        transition: all ease 1s;
    }

    &__switch {
        position: absolute;
        cursor: pointer;
        top: 50%;
        color: #fff;
        transform: translate(-50%, -50%);

        &_left {
            left: 32px;
        }

        &_right {
            right: 16px;
        }
    }

    &__controls {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__dot {
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin: 0 6px;
        border-radius: 50%;
        transition: background-color 0.6s ease;

        &_active {
            background-color: #fff;
        }
    }

    &__text {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-shadow: 0 0 2px #000;
    }

    &__slide {
        background-size: cover;
        border-radius: 32px;
        height: 535px;
        width: 100%;

        &_first {
            background-image: url('assets/slider-img-1.png');
        }

        &_second {
            background-image: url('assets/slider-img-2.png');
        }

        &_third {
            background-image: url('assets/slider-img-3.png');
        }
    }
    @media screen and (max-width: 500px) {
        padding: 28px 0;
    }

    @media screen and (min-width: 1200px) {
        border-radius: 220px 0;
    }
}
