@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F3FF;
    color: #303030;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-weight: 800;
    line-height: 72px;
    font-size: 56px;
}

h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 72px;
}

h3 {
    font-weight: 800;
    font-size: 27px;
    line-height: 36px;
}

.vector {
    position: absolute;
}

.none {
    display: none;
}

.hide {
    visibility: hidden;
}

// HEADER ----------------

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;

    a {
        color: #8E43ED;
        text-decoration: none;
        padding: 0 32px;
    }

    &__vectors {
        margin-left: 64px;
    }

    &__links {
        margin-right: 144px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        padding: 17px 0;
    }
}

@media screen and (max-width: 850px) {
    .header {
        justify-content: center;

        &__links {
            display: none;
        }

        &__vectors {
            margin: auto;
        }
    }
}

// MAIN ----------------

.main {
    display: flex;
    align-items: center;
    background-color: #fff;

    &__photo {
        position: relative;
        margin: 24px auto;
    }

    &__info {
        margin: 16px 14px;

        h1, h3 {
            margin-bottom: 24px;
        }
    }

    &__description {
        margin-bottom: 64px;

        p {
            display: inline-block;
            margin-right: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
        }

        span {
            color: #AA7ECD;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
        }

    }

    &__about {
        p {
            color: #000;
            font-weight: normal;
            font-size: 18px;
            line-height: 178%;
        }
    }

    &__vector-small {
        left: -47px;
        bottom: 120px;
        width: 69px;
        height: 69px;

        background: #8E43ED;
        border-radius: 16px;
        transform: rotate(-111.94deg);
    }

    &__vector-medium {
        left: -40px;
        bottom: -25px;
        width: 120px;
        height: 120px;

        background: #F18BC3;
        border-radius: 24px;
        transform: rotate(128.05deg);
    }

    &__vector-small-mobile {
        right: 3px;
        bottom: 57px;
        width: 32px;
        height: 32px;

        background: #8E43ED;
        border-radius: 10px;
        transform: matrix(0.37, -0.93, -0.93, -0.37, 0, 0);
    }

    &__vector-medium-mobile {
        right: 7px;
        bottom: -10px;
        width: 56px;
        height: 56px;

        background: #F18BC3;
        border-radius: 16px;
        transform: matrix(0.62, 0.79, 0.79, -0.62, 0, 0);
    }

    .photo-img {
        border-radius: 32px;
    }

    @media screen and (max-width: 1100px){
        flex-direction: column;
        align-items: baseline;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
    }

    h2 {
        font-size: 32px;
        line-height: 41px;
    }

    h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .main {
        .photo-img {
            width: 348px;
        }

        &__vector-medium, &__vector-small {
            display: none;
        }

        &__description {
            margin-bottom: 32px;

            p {
                display: flex;
                flex-direction: column;
                margin-right: 39px;
            }

            p, span {
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__details {
            display: flex;
        }

        &__info {
            margin: 0 14px;
        }

        &__about {
            p {
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
}

@media screen and (min-width: 500px){
    .main {
        border-radius: 220px 0;

        &__info {
            margin: 0 176px 0 32px;
        }

        &__photo {
            margin: 100px 0 100px 64px;
        }

        &__vector-small-mobile, &__vector-medium-mobile {
            display: none;
        }
    }
}

// FORM ----------------

.form {
    position: relative;

    h2 {
        margin: 56px 0 20px 0;
    }

    label {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        display: inline-block;
        margin: 20px 32px 20px 0;
        position: relative;
    }

    input, select {
        background: #FFFFFF;
        border: 1px solid #D9BBFF;
        border-radius: 12px;
        font-size: 16px;
        padding: 16px;

        &:focus {
            outline: none;
            border-color: #8E43ED;
            box-shadow: 0 0 1px #8E43ED;
        }
    }

    input[type=date] {
        color: #9F9F9F;
    }

    input[type=text], input[type=date], select {
        width: 301px;
    }

    .input_error {
        background-color: #FFF5F5;
        border: 1px solid #ED4376;
    }


    &__main {
        margin: 0 64px;
    }

    &__fields {
        display: flex;
        flex-direction: column;
    }

    &__dropzone {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
        padding: 0 8px;

        background: #FFFFFF;
        border: 1px dashed #D9BBFF;
        box-sizing: border-box;
        border-radius: 12px;
        max-width: 976px;

        span {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #9993BD;
            margin: 0 8px;
        }

    }

    &__files {
        display: flex;
        margin-top: 8px;
    }

    &__filePreview {
        display: flex;
        justify-content: space-between;
        width: 256px;
        background: #FFFFFF;
        border: 1px solid #D9BBFF;
        border-radius: 12px;
        padding-right: 17px;
    }

       &__button-container {
        display: flex;
        flex-wrap: wrap;
    }

    &__sending-status {
        display: flex;
        align-items: center;
        margin: 24px;

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin: auto 8px;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            color: #3DD73A;
            border-radius: 50%;
            background-color: #E1FEE8;
        }
    }

    &__vector{
        border-radius: 32px;
        z-index: -1;

        &-medium {
            top: 30px;
            left: -30px;
            width: 168px;
            height: 168px;

            background: #F2E9FF;
            transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
        }

        &-small {
            top: 145px;
            left: 193px;
            height: 116px;
            width: 116px;

            background: #F2E9FF;
            border-radius: 16px;
            transform: matrix(-0.67, 0.74, 0.74, 0.67, 0, 0);
        }

        &-big {
            top: 310px;
            left: -50px;
            width: 293px;
            height: 293px;

            background: #F2E9FF;
            transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
        }

        &-medium-colored {
            top: -2px;
            right: -30px;
            width: 168px;
            height: 168px;

            background: #8E43ED;
            transform: rotate(15deg);
        }

        &-small-colored {
            top: 120px;
            right: 195px;
            width: 116px;
            height: 116px;

            background: #E0CFF8;
            border-radius: 16px;
            transform: rotate(47.56deg);
        }

        &-big-colored {
            top: 290px;
            right: -50px;
            width: 293px;
            height: 293px;

            background: #F18BC3;
            transform: rotate(30deg);

        }

        &-medium-mobile {
            top: 0;
            right: 22px;
            width: 56px;
            height: 56px;

            background: #F18BC3;
            border-radius: 16px;
            display: none;
            transform: matrix(-0.14, -0.99, -0.99, 0.14, 0, 0);
        }

        &-small-mobile {
            top: 50px;
            right: 80px;
            height: 32px;
            width: 32px;

            background: #8E43ED;
            border-radius: 10px;
            display: none;
            transform: matrix(-0.79, 0.62, 0.62, 0.79, 0, 0);
        }
    }
}

select {
    color: gray;
}

.filePreview__container {
    display: flex;
    align-items: center;
}

.filePreview__thumbnail {
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 8px 8px 8px 12px;
}

.filePreview__name {
    font-size: 14px;
    line-height: 18px;
}

.filePreview__details {
    font-size: 12px;
    line-height: 18px;
    color: #AFAFAF;
}

.fileInput {
    display: none;
}

.error-message {
    position: absolute;
    color: #ED4376;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    left: 8px;
    bottom: -20px;
}

.button {
    background-color: #8E43ED;
    border: 1px solid #8E43ED;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;

    width: 211px;
    height: 56px;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    &:active {
        background-color: #500AA9;
        border-color: #500AA9;
    }

    &:hover {
        background-color: #6813D3;
        border-color: #6813D3;
    }

    &:disabled {
        background-color: #DED9E4;
        border-color: #DED9E4;
        cursor: auto;
    }

    &_secondary {
        color: #8E43ED;
        background-color: #fff;

        &:active {
            background-color: #F0E5FE;
        }

        &:hover {
            background-color: #FAF8FE;
            border-color: #6813D3;
        }

        &:disabled {
            background-color: #fff;
            border-color: #D9BBFF;
            color: #D9BBFF;
            cursor: auto;
        }
    }

    &_send {
        margin: 48px 0 48px 0;
    }

    &_add {
        margin: 24px 8px;
    }
}

@media screen and (max-width: 500px) {
    .form {
        h2 {
            margin: 40px 0;
            width: 70%;
        }
        label {
            margin: 20px 0;
        }

        &__main {
            margin: 0 14px;
        }

        &__dropzone {
            flex-direction: column;
            text-align: center;
            span {
                width: 211px;
                margin-top: 27px;
            }
        }

        &__filePreview {
            width: 100%;
        }

        &__sending-status {
            justify-content: center;
            margin-top: 0;
            width: 100%;
        }

        &__vector-small-mobile, &__vector-medium-mobile {
            display: revert;
        }
    }

    section {
        display: flex;
        flex-direction: column;
    }

    input[type=text], input[type=date], select {
        width: 100%;
    }

    .button_send {
        width: 100%;
        margin: 40px auto;
    }
}

@media screen and (max-width: 700px){
    .form {
        &__vector {
            display: none;
        }
    }
}

// SLIDER ----------------

.slider {
    background-color: #fff;

    &__wrapper {
        position: relative;
        margin: auto;
        padding: 56px 0;
        max-width: 90%;
        overflow: hidden;
        border-radius: 32px;
    }

    &__line {
        display: flex;
        transition: all ease 1s;
        border-radius: 32px;
        img {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        }
    }

    &__switch {
        position: absolute;
        cursor: pointer;
        top: 50%;
        color: #fff;
        transform: translate(-50%, -50%);

        &_left {
            left: 32px;
        }

        &_right {
            right: 16px;
        }
    }

    &__controls {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__dot {
        width: 12px;
        height: 12px;
        border: 2px solid #FFFFFF;
        color: white;
        cursor: pointer;
        margin: 0 6px;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &_active {
            background-color: #fff;
        }
    }

    &__text {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-shadow: 0 0 2px #000;
    }

    &__slide {
        background-size: cover;
        height: 535px;
        width: 100%;
        border-radius: 32px;

        &_first {
            background-image: url("assets/slider-img-1.png");
        }

        &_second {
            background-image: url("assets/slider-img-2.png");
        }

        &_third {
            background-image: url("assets/slider-img-3.png");
        }
    }
}
